@font-face {
    font-family: 'ENL';
    src: url('./fonts/DINosaur-Light.otf') format('truetype');
}

@font-face {
    font-family: 'ENN';
    src: url('./fonts/DINosaur-Book.otf') format('truetype');
}

@font-face {
    font-family: 'ENB';
    src: url('./fonts/DINosaur-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'CNL';
    src: url('./fonts/TsangerXuanSan01-W02.ttf') format('truetype');
}

@font-face {
    font-family: 'CNN';
    src: url('./fonts/TsangerXuanSan01-W03.ttf') format('truetype');
}

@font-face {
    font-family: 'CNB';
    src: url('./fonts/TsangerXuanSan01-W04.ttf') format('truetype');
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}